@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: black;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover {
  color: #adadad;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.btn {
  background-color: #ff8923;
  padding: 1rem 4rem !important;
  border-radius: 1.75rem !important;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffa04d;
}

.btn:focus {
  background-color: #ffbb80;
}

.colorway {
  position: absolute;
  width: 70vw;
  top: -10vh;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  height: 100vh;
  padding-bottom: 20%;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.home-main-section .computer-image {
  background-image: url(assets/undraw_pair_programming_njlp.png);
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

.btn-wave {
  color: white;
  background-color: #3d37f1;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
}

.btn-wave:hover {
  background-color: #5d58f3;
}

.btn-wave:focus {
  background-color: #8b88f7;
}

.wave img {
  width: 1.2vw;
  margin-right: 0.5rem;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 0;
  color: #534d4d;
}

.subtitle {
  color: #645f5f;
  font-weight: 200;
  font-size: 0.9em;
  margin-top: 1rem;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  height: 100vh;
}

.services-call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.our-services {
  color: purple;
}

.services-title {
  color: #534d4d;
}

.services-subtitle {
  margin: 0 20% 50px 20%;
  font-weight: 200;
  color: #645f5f;
  font-size: 0.8em;
}

.poster-section {
  display: flex;
  justify-content: center;
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.75rem;
  width: 250px;
  height: 300px;
  margin-bottom: 1.75rem;
  margin-right: 1em;
  color: white;
}

#poster-1 {
  background-color: #fbba77;
}

#poster-2 {
  background-color: #41eae3;
}

#poster-3 {
  background-color: #69529f;
}

#poster-4 {
  background-color: #4386d2;
}

#poster-5 {
  background-color: #7671f3;
}

#poster-6 {
  background-color: #ff8088;
}

.poster img {
  width: 80px;
  height: 80px;
}

.poster-title {
  font-size: 1em;
}

.poster-subtitle {
  font-size: 0.75em;
}

#website-ui {
  color: black;
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-poster {
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: 3px solid white;
  cursor: pointer;
}

.about {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 10%;
  height: 100vh;
}

.about-img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.about-image {
  background-image: url(assets/undraw_about_me_wa29.png);
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.about-call-to-action {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 30vw;
  margin-left: 5%;
}

.about-title {
  color: #292828;
}

.about-subtitle {
  color: #645f5f;
  font-size: 0.8em;
}

.video-brief {
  display: flex;
  align-items: center;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #3d37f1;
  height: 60px;
  width: 60px;
  padding-left: 8px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}

.play-bar {
  background-color: #817c7c;
  width: 70px;
  height: 3px;
  margin-top: 20px;
  margin-left: 30px;
}

.brief-text {
  margin-top: 20px;
  margin-left: 20px;
  color: #817c7c;
  font-size: 0.85em;
}

.portfolio {
  display: flex;
  flex-grow: 1;
  margin-top: 10%;
  height: 100vh;
  justify-content: space-between;
}

.first-row img,
.second-row img,
.third-row img {
  width: 300px;
  margin: 20px;
}

.portfolio-title {
  font-size: 2em;
  color: #534d4d;
}

.portfolio-subtitle {
  margin-top: 10px;
  font-size: 0.8em;
  color: #5e5b5b;
}

.portfolio-navigation {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.portfolio-navigation-list ul {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  list-style: none;
}

.portfolio-navigation-list ul li {
  margin-bottom: 50px;
  color: #817c7c;
  font-size: 1em;
}

#colored-li {
  color: rgb(86, 28, 139);
}

#colored-li::after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 2px;
  background-color: rgb(86, 28, 139);
}

.fourth-row {
  display: flex;
  justify-content: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b9b4b4;
}

.bar {
  width: 40px;
  height: 10px;
  border-radius: 2rem;
  background-color: rgb(86, 28, 139);
  margin-left: 10px;
  margin-right: 10px;
}

.success {
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  height: 40vh;
}

.success-call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-bottom: 70px;
}

.success-title {
  font-weight: 500;
  font-size: 1.5em;
  color: #504e4e;
}

.success-subtitle {
  font-size: 0.75em;
  color: #645f5f;
}

.success-tabs {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 60vw;
}

.tab-1 {
  background-color: #7671f3;
  box-shadow: 0 10px 6px 0 #5650f1;
}

.tab-2 {
  background-color: #ff8088;
  box-shadow: 0 10px 6px 0 #f7525d;
}

.tab-3 {
  background-color: #fbba77;
  box-shadow: 0 10px 6px 0 #f8a756;
}

.tab-1,
.tab-2,
.tab-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2em;
  padding: 40px;
  border-radius: 0.9rem;
}

.success-text {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 60vw;
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 30px;
  color: #534d4d;
  margin-top: 2%;
}

.text-1 {
  padding-left: 15px;
}

.text-3 {
  padding-right: 15px;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 100px;
  height: 70vh;
}

.skills {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 50vw;
}

.skills-example {
  background-color: #69529f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0.5rem;
  padding-left: 50px;
  width: 240px;
  height: 280px;
  margin-bottom: 1.75rem;
  color: white;
  border-radius: 0.5em;
}

.skills-example img {
  width: 50px;
}

.skills-text {
  margin-top: 7px;
}

.skills-title {
  font-size: 1.5em;
}

.skills-subtitle {
  font-size: 0.8em;
  color: rgb(209, 207, 207);
}

.workflow {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 10%;
  height: 100vh;
}

.workflow-img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.workflow-image {
  background-image: url(assets/undraw_social_networking_nqk4.png);
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.workflow-call-to-action {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 30vw;
  margin-left: 5%;
}

.workflow-examples {
  display: flex;
}

.first-column,
.second-column,
.third-column,
.fourth-column {
  display: flex;
  flex-direction: column;
}

.second-column .workflow-subtitle,
.fourth-column .workflow-subtitle {
  margin-bottom: 45px;
}

.first-column *,
.third-column * {
  margin-bottom: 50px;
  margin-right: 15px;
}

.workflow-text {
  display: flex;
  flex-direction: column;
}

.workflow-title-main {
  margin-bottom: 10px;
  color: rgb(46, 45, 45);
  font-weight: 500;
  font-size: 1.2em;
}

.workflow-subtitle-main {
  margin-bottom: 40px;
}

.workflow-title {
  font-size: 0.95em;
  color: #575454;
}

.workflow-subtitle {
  font-size: 0.7em;
  color: #817c7c;
}

.workflow-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #3d37f1;
  height: 60px;
  width: 60px;
  padding-right: 4px;
  border-radius: 50%;
  outline: none;
  border: none;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  height: 100vh;
}

.blog-call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.our-blog {
  font-size: 1.7em;
  color: #534d4d;
}

#blog-title {
  font-weight: 300;
  color: #2b2929;
  font-size: 0.9rem;
  margin-left: 7px;
  margin-right: 7px;
}

.blog-subtitle {
  margin: 0 20% 50px 20%;
  font-weight: 200;
  color: #645f5f;
  font-size: 0.8em;
}

#blog-subtitle {
  font-weight: 200;
  color: #645f5f;
  font-size: 0.7rem;
  margin-left: 7px;
  margin-right: 7px;
}

#blog-pic {
  width: 100%;
  height: 50%;
}

#arrow {
  width: 30px;
  height: 20px;
  align-self: flex-start;
  margin-left: 7px;
}

#blog-poster {
  width: 300px;
  height: 400px;
}

.brand-logo {
  height: 150px;
  width: 150px;
}

#partner {
  width: 900px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

footer {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  width: 900px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 300px;
}

.footer-column-other {
  padding-left: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 250px;
  height: 300px;
}

.footer-info-title {
  color: #575454;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.footer-info-link {
  color: #383737;
  font-size: 0.9em;
  margin-bottom: 20px;
}

#footer-logo {
  height: 80px;
}

.footer-text {
  font-size: 0.75rem;
  margin-bottom: 40px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.social-icons img {
  background-color: #0b0785;
  border-radius: 50%;
}

#facebook {
  padding: 10px 15px;
}

#twitter {
  padding: 12px 12px;
}

#google {
  padding: 11px 10px;
}

#youtube {
  padding: 12px 12px;
}

#rights {
  font-size: 0.7em;
  margin-top: 70px;
}

a {
  text-decoration: none;
}

.client-stories {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
  width: 99vw;
  background-color: #20013ab0;
  color: white;
}

.stories-call-to-action {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.stories-footer {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 60vw;
  margin-bottom: 50px;
  border-top: 1px solid #7c7979;
  padding-top: 20px;
}

.stories-footer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.stories-subtitle {
  color: #7c7979;
  font-size: 0.8em;
}

.stories-footer-button {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#btn-wave-stories {
  color: white;
  background-color: #3d37f1;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0;
}

#comment {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 0.7em;
  text-align: center;
}

#learn {
  font-size: 0.8em;
  color: #7c7979;
  margin-bottom: 10px;
}

#name {
  color: #3d37f1;
}

#title {
  font-size: 0.8em;
}

#grade {
  background-color: rgb(255, 115, 0);
  border-radius: 50%;
  padding: 5px;
}
